Q1

In [5]:
string = input("Enter the string : ")

if (len(string)<3):
    print(string)
else:
    if ('ing' in string):
        print(string + 'ly')
    else:
        print(string + 'ing')

Enter the string : Singing
Singingly

Q2

In [14]:
str1 = input("Enter string 1 : ")
str2 = input("Enter string 2 : ")

x=int(len(str1)/2)
y=int(len(str2)/2)

str1_left = str1[:x+1]
str1_right = str1[x+1:]
str2_left = str2[:y+1]
str2_right = str2[y+1:]

print(str1_left+str2_left+str1_right+str2_right)

Enter string 1 : saddi
Enter string 2 : hapma
sadhapdima

Q3

In [17]:
salaries = ['$876,001', '$543,903', '$2453,896'] 

for pay in salaries:
    pay = pay.replace('$', '')
    pay = pay.replace(',', '')
    print(pay)

876001
543903
2453896

Q4

In [96]:
n = int(input("Enter a number : "))


for i in range(0, n):
    print("* "*(i+1))
    
for i in range(n-1, 0, -1):
    print("* "*(i))

Enter a number : 5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [89]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

Q5

In [65]:
state_name=[ 'Alabama', 'California', 'Oklahoma', 'Florida']
vovels=['a', 'e', 'i', 'o', 'u']
list_s=[]

for name in state_name:
    name = name.lower()
    
    for v in vovels:
        if(v in name):
            name = name.replace(v, '')
    list_s=list_s+[name]
    
print(list_s)

['lbm', 'clfrn', 'klhm', 'flrd']

Q6

In [106]:
num_list = []
total=0

while(y==2):
    x= input('Enter the number : ')
    if (x!=''):
        x=int(x)
        num_list= num_list+[x]
        total=total+x
    else:
        break

print(num_list)
n=len(num_list)
print("The sum of all the numbers is : ", total)
print("The average is : ", total/n)
print("The minimum number is : ", min(num_list))
print("The maximum number is : ", max(num_list))

Enter the number : 1
Enter the number : 2
Enter the number : 3
Enter the number : 4
Enter the number :
[1, 2, 3, 4]
The sum of all the numbers is :  10
The average is :  2.5
The minimum number is :  1
The maximum number is :  4