Q1

In [15]:
import random

print(random.uniform(3, 7))

3.294170898755642

Q2

In [19]:
from random import randint
x = randint(1, 6)
print('The number on the dice is : ', x)

The number on the dice is :  4

Q3

In [21]:
from math import factorial

x = int(input('Enter the number : '))
fact = factorial(x)
print('The factorial is : ', fact)

Enter the number : 3
The factorial is :  6

Q4

In [22]:
from math import pi

r = int(input("Enter the radius of the circle : "))
area = pi*r*r
perimeter = 2*pi*r

print("The area of circle is : ", area)
print("The perimeter if circle is : ", perimeter)

Enter the radius of the circle : 5
The area of circle is :  78.53981633974483
The perimeter if circle is :  31.41592653589793

Q5

In [34]:
string='Rajashthan'

string[::-1]

'nahthsajaR'

Q6

In [35]:
string = 'Rajasthan'

string[::2]

'Rjshn'

Q7

In [3]:
str1 = 'Bingo'
str2 = 'Gold'

str3 = str2[0]+str1[1:]+" "+str1[0]+str2[1:]
print(str3)

Gingo Bold

Q8

In [14]:
word = 'daddy'
sec_word = word[1:]
sec_word = sec_word.replace(word[0], '*')
print(word[0]+sec_word)

da**y

0

Q9

In [11]:
'not' in 'This is not good'

True

In [18]:
sent = "This dinner is not that bad!"

n = sent.index('not')
b = sent.index('bad')

print (n, b)

if (n<b):
    sent = sent[:n]+'good'+sent[b+3:]
    
print(sent)

15 24
This dinner is good!

Q10

In [21]:
salary = '$876,001'

salary = salary.replace('$', '')
salary = salary.replace(',', '')
print(salary)

876001

Q11

In [25]:
string = input("Enter the word")

print(string.upper())
print(string.lower())
print(string.title())

Enter the wordsAdHaI
SADHAI
sadhai
Sadhai

Q12

In [26]:
string = "RESTART"

sec_word = string[1:]
sec_word = sec_word.replace('R', '$')
print(string[0]+sec_word)

RESTA$T

Q13

In [34]:
name = input('Enter your name : ')

names = name.split()
names.reverse()

rev_name = names[0]+' '+names[1]
print('Your reverse name is : ', rev_name)

Enter your nameAditya Kumar
Your reverse name is :  Kumar Aditya

Q14

In [35]:
sent = 'Welcome to Pink City Jaipur'

sent = sent.replace(' ', '*')
print(sent)

Welcome*to*Pink*City*Jaipur